{
  "parser": "babel-eslint",
  "extends": [
    "airbnb/base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "yoda": [2, { "exceptRange": true }],
    "import/extensions": [2, { "ignorePackages": true }],
  }
}
